<app-admin-nav></app-admin-nav>
<div class="container-fluid parallax-3">
  <div class="row align-items-center pt-4">
    <div class="col align-self-center perfil text-center">
      <img src="../assets/img/Diegolas.jpeg" alt="" />
      <hr />
      <p
        style="
          font-family: 'Roboto mono', monospace;
          color: white;
          font-size: 32px;
        "
      >
        Diegolas Moreno
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 p-4 list-inline-item">
      <h1 class="display-3">Productos en Proceso</h1>
      <hr class="my-4" />
    </div>
  </div>
  <div class="row">
    <div class="card-deck pb-5 card-imagen">
      <div class="card">
        <img
          src="https://www.sony.es/image/4dcdfc5416b7185bb72d9d1baa260053?fmt=pjpeg&bgcolor=FFFFFF&bgc=FFFFFF&wid=2515&hei=1320"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This card has even longer content than the
            first to show that equal height action.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
          <button
            type="button"
            class="btn btn-outline-info btn-block"
            routerLink="../product-status-update"
          >
            Update Status
          </button>
        </div>
      </div>
      <div class="card">
        <img
          src="https://cdn.pocket-lint.com/r/s/1200x/assets/images/140007-games-review-nintendo-switch-review-image1-lp6zy9awm0.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This card has supporting text below as a natural lead-in to
            additional content.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
          <button
            type="button"
            class="btn btn-outline-info btn-block"
            routerLink="../product-status-update"
          >
            Update Status
          </button>
        </div>
      </div>
      <div class="card">
        <img
          src="https://cdn11.bigcommerce.com/s-a47hlxhj54/images/stencil/1280x1280/products/456/1692/7Y0A4641-web__54125.1497382552.jpg?c=2&imbypass=on"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
          <button
            type="button"
            class="btn btn-outline-info btn-block"
            routerLink="../product-status-update"
          >
            Update Status
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center pb-5">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <button
        type="button"
        class="btn btn-outline-success btn-block"
        routerLink="/agregar"
      >
        +
      </button>
    </div>
  </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center pb-3">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<app-footer></app-footer>
