<div class="row justify-content-center m-5">
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <h1 class="display-4 mb-4">Product Status Update</h1>
        <div class="row">
          <div class="col">
            <button class="btn btn-block btn-success" type="button" >
              Recibido
            </button>
          </div>
          <div class="col">
            <button class="btn btn-block btn-success" type="button" >
              Checado
            </button>
          </div>
          <div class="col">
            <button
              class="btn btn-block btn-outline-success"
              type="button"

            >
              Validado
            </button>
          </div>
          <div class="col">
            <button
              class="btn btn-block btn-outline-success"
              type="button"
              routerLink="../status-de-envio"

            >
              Enviar
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <ol class="progtrckr" data-progtrckr-steps="4">
              <li class="progtrckr-done" >Recibido</li>
              <li class="progtrckr-done" >Checando</li>
              <li class="progtrckr-todo" >Validado</li>
              <li class="progtrckr-todo" >Enviado</li>
            </ol>
          </div>
        </div>
        <div class="row pt-5">
          <div class="col">
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                role="progressbar"
                style="width: 50%;"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
