<app-nav-bar></app-nav-bar>
<app-image-carrousel></app-image-carrousel>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 p-4">
      <h1 class="display-3" >Productos</h1>
      <hr class="my-4" />
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col col-lg-4" *ngFor="let product of allProducts; let i = index">
      <div class="card">
        <img src="{{ product.url }}" style="width: auto; height:200px" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">
            {{ product.description }}
          </p>
          <p class="card-text">${{ product.price }}.00.</p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
          <button
            type="button"
            class="btn btn-outline-success btn-block"
            routerLink="/comprar"

          >
            Comprar
          </button>
        </div>
      </div>
    </div>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center pb-3">
      <ng-container *ngIf="currentPage == 1 && pages > 1; else second">
        <li class="page-item disabled"><a class="page-link" (click)="getProductsPage(1)">
            <span> Inicio</span>
        </a></li>
        <li class="page-item active"><a class="page-link" (click)="getProductsPage(currentPage)">
            <span> {{currentPage}}</span>
        </a></li>
        <li class="page-item"><a class="page-link" (click)="getProductsPage(currentPage + 1)">
            <span> {{currentPage + 1}}</span>
        </a></li>
        <li class="page-item"><a class="page-link" (click)="getProductsPage(pages)">
            <span> Fin</span>
        </a></li>
      </ng-container>
      <ng-template #second>
        <ng-container *ngIf="currentPage < pages; else third">
          <li class="page-item"><a class="page-link" (click)="getProductsPage(1)">
              <span> Inicio</span>
          </a></li>
          <li class="page-item"><a class="page-link" (click)="getProductsPage(currentPage - 1)">
              <span> {{currentPage - 1}}</span>
          </a></li>
          <li class="page-item active"><a class="page-link" (click)="getProductsPage(currentPage)">
            <span> {{currentPage}}</span>
          </a></li>
          <li class="page-item"><a class="page-link" (click)="getProductsPage(currentPage + 1)">
              <span> {{currentPage + 1}}</span>
          </a></li>
          <li class="page-item"><a class="page-link" (click)="getProductsPage(pages)">
              <span> Fin</span>
          </a></li>
        </ng-container>
      </ng-template>
      <ng-template #third>
        <li class="page-item"><a class="page-link" (click)="getProductsPage(1)">
            <span> Inicio</span>
        </a></li>
         <li class="page-item"><a class="page-link" (click)="getProductsPage(currentPage - 1)">
            <span> {{currentPage - 1}}</span>
        </a></li>
        <li class="page-item active"><a class="page-link" (click)="getProductsPage(currentPage)">
            <span> {{currentPage}}</span>
        </a></li>
        <li class="page-item disabled"><a class="page-link" (click)="getProductsPage(pages)">
            <span> Fin</span>
        </a></li>
      </ng-template>
    </ul>
    <br>
    <br>
  </nav>

</div>

<app-footer></app-footer>
