<app-nav-bar></app-nav-bar>
<app-image-carrousel></app-image-carrousel>
<div class="container pt-5 pb-5">
  <div class="row">
   <div class="col">
     <div class="card mb-3" style="max-width: 540px;">
       <div class="row no-gutters">
         <div class="col-md-4">
           <img src="../assets/img/Naji.jpeg" class="card-img h-100" alt="...">
         </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Naji M. A. Saadat</h5>
            <p class="card-text">LinkedIn: Naji M. A. Saadat</p>
            <p class="card-text">Número celular: 5555436711</p>
            <p class="card-text">Email: naji@vendetuproducto.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="../assets/img/Schlemp.jpeg" class="card-img h-100" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Gabriel Schlam Huber</h5>
            <p class="card-text">LinkedIn: Gabriel Schlam Huber</p>
            <p class="card-text">Número celular: 5545335727</p>
            <p class="card-text">Email: schlam@vendetuproducto.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="../assets/img/Eduardo.jpeg" class="card-img h-100" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Eduardo Harari</h5>
            <p class="card-text">LinkedIn: Eduardo Harari</p>
            <p class="card-text">Número celular: 2383907572</p>
            <p class="card-text">Email: eduardo@vendetuproducto.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="../assets/img/Diegolas.jpeg" class="card-img h-100" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Diego Alejandro Moreno Acevedo</h5>
            <p class="card-text">LinkedIn: Diego Alejandro Moreno Acevedo</p>
            <p class="card-text">Número celular: 5555102944</p>
            <p class="card-text">Email: diegolas@vendetuproducto.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>

