<div [ngClass]="isHomeView() ? 'container-fluid p-0 parallax-2' : ('container-fluid p-0 parallax')">
  <div class="row align-items-center">
    <div class="col align-self-center">
      <h1 *ngIf="isHomeView(); else elseBlock" style="font-family: 'Roboto mono', monospace; padding-top: 250px;">VendeTuProducto.com</h1>
      <ng-template #elseBlock><h1 style="font-family: 'Roboto mono', monospace; padding-bottom: 150px;">Contacto</h1></ng-template>
      <p *ngIf="isHomeView()" style="font-family: 'Roboto mono', monospace; color: white; font-size: 32px;">Para cualquier producto, VendeTuProducto.com</p>
    </div>
  </div>
</div>
